.e-list_card {
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    font-size: small;
}
.author {
    text-transform: capitalize;
    font-size: small;
    font-style: italic;
    font-weight: lighter;
}

.author ul {
    padding: 0;
    list-style-type: none;
}