.h-list_card {
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    font-size: small;
    border-left: 4px solid green;
    display: flex;
}

.h-list_card div {
    flex: 1;
}
.h-list-item__title {
    text-transform: uppercase;
}

.h-list_card .dist {
    font-weight: bolder;
    text-align: right;
}

.searchbar .form .s_btn {
    background: $off-white;
    border: none;
    color: $dark-blue; // setting this so that margin and padding comes to effect for the link which we are making to look like a button
    font-size: $font-size-large;
    font-weight: 400;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
}
