.login {
    background-color: rgb(63, 150, 150);
    color: azure;
}

.box-layout__title {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1rem;
   
}
.box-layout__box {
    margin-bottom: 20px;
}