.pfilter .input-group__item {
    width: 100%;
}


.pfilter input {
    width: 100%;
}

.p-list_card {
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    font-size: small;
    display: flex;
}

.p-list_card div{
    flex: 1;
}

.p-list_card ul {
    list-style-type: none;
    padding: 0;
}

.p-list_card ul span {
    font-weight: bold;
}

.p-list_card .bg {
    font-size: $l-size;
    font-weight: bolder;
    color: rgb(131, 20, 20);
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: $l-size;
    display: block;
}