.page-header {
    background: $off-white;
    margin-bottom: $l-size;
    padding: $m-size 0;
}

.page-header a {
    margin: 0;
    padding: 0;
}

.page-header__actions .button {
    margin-right: $l-size;
}

.page-header__title {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0;
}