@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700&display=swap');
* {
    box-sizing: border-box; // sets the height considering paading, margin etc exactly to what we mentioned
}

html {
    font-size: 62.5%;
}

body {
    color: $dark-grey;
    font-family: "Nunito";
    font-size: $m-size;
    line-height: 1.6;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.form__error {
    color: red;
}

// .is-active {
//     font-weight: bolder;
// }